.theatre-card {
    padding: 8px;
}

.theatre-card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.theatre-card h3 {
    margin: 2px;
}

.theatre-card p {
    margin: 2px 2px 8px 2px;
}